@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
}

body{
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(58,106,163,1) 100%);
    font-family: "Roboto", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings:"wdth" 100;
}

input{
    width: 100%;
    height: 45px;
    border: 1px solid rgb(226, 222, 222);
    border-radius: 15px;
    padding: 0 15px;
    margin-bottom: px;
}
input:hover {
    box-shadow: 0 0 25px -1px rgb(121, 70, 160);
}

button {
    display: block;
    margin-top: 15px;
    width: 100%;
    height: 40px;
    border-radius: 15px;
    background-color: blueviolet;
    color: white;
}
button:hover {
    box-shadow: 0 0 15px -3px rgb(147, 76, 201);
    }

ul{
    margin-bottom: 20px;
}

h2{
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.registration {
    display: block;
    margin: 40px auto 0;
    width:25%;
    height: 250px;
    border: 2px solid;
    background-color: rgb(184 154 190);
    border-radius: 15px 15px 15px 15px;
    box-shadow: 0 0 20px -2px black;
}

.login{
    display: block;
    margin: 40px auto 0;
    width:25%;
    height: 250px;
    border: 2px solid;
    background-color: #8d8ab5;
    border-radius: 15px 15px 15px 15px;
    box-shadow: 0 0 20px -2px black;
}

.registration_form{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-right: 20px;
    margin-left: 20px;
}

.login_form{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-right: 20px;
    margin-left: 20px;
}

.task-list{
    display: block;
    margin: 40px auto 20px;
    width:40%;
    height: 350px;
    border: 2px solid;
    background-color: rgb(255, 255, 255);
    border-radius: 15px 15px 15px 15px;
    box-shadow: 0 0 20px -2px black;
}

.task-list-form{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-right: 40px;
    margin-left: 40px;
}

@media(max-width: 650px){
    input{
        font-size: 10px;
    }
    h2{
        font-size: 14px;
    }
    ul{
        font-size: 10px;
    }
    .registration_submit{
        font-size: 7px;
    }
    .task-list{
        height: 290px;
    }
}